<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <meta name=description content="{{ site.description }}">
  <meta name=author content="{{ site.name }}">
  <meta name="keywords" content="{% for item in site.keywords %}{{ item }},{% endfor %} ">
  <meta name="google-site-verification" content="RwW-vwQSZyLAW74Z_QOy3-nhq6c_UXaosO2xG-oixgE" />

  {% include favicon.html %}

  <title>{{site.name}}{%if page.shortcode!='home'%}|{{page.title}}{%endif%}</title>

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  {% if site.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <script src="/assets/persiandate/moment.js"></script>
  <script src="/assets/persiandate/moment-jalaali.js"></script>


</head>
